{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ back_to_order }}" class="btn btn-info">{{ text_back_to_order }}</a>
                <button type="submit" form="form-fizzpa-create-shipment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-success">
                <i class="fa fa-exclamation-circle"></i>
                {{ success_message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-plus"></i> {{ heading_title }}
                </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data" id="form-fizzpa-create-shipment" class="form-horizontal">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">Sender Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_sender_name" value="{{ fizzpa_sender_name }}" id="input-name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-tel">Sender Phone</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_sender_phone" value="{{ fizzpa_sender_phone }}" id="input-tel" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">Sender Email</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_sender_email" value="{{ fizzpa_sender_email }}" id="input-email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-city">Recipient City</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_recipient_city" value="{{ fizzpa_recipient_city }}" id="input-city" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-pickup-address">{{ entry_pickup_address_id }}</label>
                        <div class="col-sm-10">
                            <select name="fizzpa_pickup_address_id" id="input-pickup-address" class="form-control">
                                <option value="">Select...</option>  
                                {% for key, address in pickup_addresses %}
                                    {% if key == fizzpa_pickup_address_id %}
                                        <option value="{{ key }}" selected="selected">{{ address }}</option>
                                    {% else %}
                                        <option value="{{ key }}">{{ address }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-address">Recipient Address</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_recipient_address" value="{{ fizzpa_recipient_address }}" id="input-address" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">Recipient Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_recipient_name" value="{{ fizzpa_recipient_name }}" id="input-name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-phone">Recipient Phone</label>
                        <div class="col-sm-10">
                            <input type="text" name="fizzpa_recipient_phone" value="{{ fizzpa_recipient_phone }}" id="input-phone" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-email">Recipient Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="fizzpa_recipient_email" value="{{ fizzpa_recipient_email }}" id="input-email" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}